@font-face {
    font-family: 'walkway_boldregular';
    src: url('fonts/Walkway Bold-webfont.eot');
    src: url('fonts/Walkway Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Walkway Bold-webfont.woff2') format('woff2'),
         url('fonts/Walkway Bold-webfont.woff') format('woff'),
         url('fonts/Walkway Bold-webfont.ttf') format('truetype'),
         url('fonts/Walkway Bold-webfont.svg#walkway_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: black;
}

#icon
{
    padding-top: 5%;
}

#header{
    height: 50px;
    width 100%;
    margin-top: 20px;
}

#white{
    background-color: white;
}

#white2{
    background-color: white;
}

.text{
    width: 50%;
    height: 85%;
    margin: auto;
    padding-top: 8%;
}

ld{
    color: white;
    margin: 25px;
    font-size: 20px;
    font-family: 'walkway_boldregular';
}


h1{
    font-family: 'walkway_boldregular';
    color: white;
    font-size: 40px;
    margin-top: 4%; 
}

a{
    text-decoration: none;
}

h2{
    font-family: 'walkway_boldregular';
    font-size: 40px;
    color: #8ff8ff;
}

p{
    font-family: 'walkway_boldregular';
    font-size: 25px;
}

.profile
{
    display: inline-block;
    height: 80%;
    width: 25%;
    margin-top: 5%;
    margin-left: 6.25%;
}

.profile-pic
{
    width: 76%;
    margin-left: 12%;
    border-radius: 100%;
    border: 2px solid #8ff8ff;
}
    